'.source.js':
  'const study':
    'prefix': 'study'
    'body': """
      const study = $1
      Object.keys(study).sort().forEach(key => {
        console.log('key: ' + key, study[key])
      })
    """

  'it ("should...':
    'prefix': 'it'
    'body': """
      it('should ${1}', () => {
        $2
      })
    """

  'describe ("MyContainer...':
    'prefix': 'describe'
    'body': """
      describe('${1}', () => {
        $2
      })
    """

  'beforeEach ("beforeEach () =>...':
    'prefix': 'beforeEach'
    'body': """
      let $1
      beforeEach(() => {
        $1 = $2
      })
    """

  'expect ("expect(wrapper...':
    'prefix': 'expect'
    'body': """
      expect($1).$2
    """
