'.source.js':
  'const study':
    'prefix': 'study'
    'body': """
      const study = $1
      Object.keys(study).sort().forEach(key => {
        console.log('key: ' + key, study[key])
      })
    """

  'it ("should...':
    'prefix': 'it'
    'body': """
      it('should ${1}', () => {
        $2
      })
    """

  'describe ("MyContainer...':
    'prefix': 'describe'
    'body': """
      describe('${1}', () => {
        $2
      })
    """
